params {
  publish_dir_mode = 'link'
}

process {

  maxRetries = 3
  errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }

  queue = {
    if (task.time <= 12.h) {
      'short'
    } else if (task.time <= 5.d) {
      'medium'
    } else {
      'long'
    }
  }

  withName: illumination {
    memory = {
      def gpx;
      if (['.rcpnl', '.czi', '.lif'].any{ raw.name.endsWith(it) }) {
        gpx = raw.size() / 2 / 4 / 1e9;
      } else if (raw.name.endsWith('.pysed.ome.tif')) {
        def pth = raw.toRealPath();
        gpx = ['python3', '/n/groups/lsp/mcmicro/tools/o2/ome-tiff-gpx.py', pth].execute().text.toDouble();
      } else {
        gpx = 0;
      }
      def mem = gpx ? (gpx * 5 + 9).GB : 32.GB;
      return mem * task.attempt;
    }
    time   = { 4.h * task.attempt }
    cpus   = 4
  }

  withName: ashlar {
    memory = {
      def raw = lraw[0];
      def gpx;
      if (['.rcpnl', '.czi', '.lif'].any{ raw.name.endsWith(it) }) {
        gpx = raw.size() / 2 / 4 / 1e9;
      } else if (raw.name.endsWith('.pysed.ome.tif')) {
        def pth = raw.toRealPath();
        gpx = ['python3', '/n/groups/lsp/mcmicro/tools/o2/ome-tiff-gpx.py', pth].execute().text.toDouble();
      } else {
        gpx = 0;
      }
      def mem = gpx ? (gpx * 2 + 3.5).GB : 24.GB;
      return mem * task.attempt;
    }
    time   = { 36.h * task.attempt }
    cpus   = 1
  }

  withName: 'segmentation:worker'  {
    // mccellpose only (unmicst not supported in this config)
    memory = { 6.GB * task.attempt }
    time   = { 12.h * task.attempt }
    cpus   = 1
    queue  = {
      def user = System.getenv('USER');
      def qos = "sacctmgr show assoc clusters=o2 user=$user format=qos -P -n".execute().text.strip().split(',')
      def queue = 'gpuquad_qos' in qos ? 'gpu_quad' : 'gpu';
      return queue;
    }
    clusterOptions = '--gres=gpu:1'
  }

  withName: mcquant  {
    memory = {
      def pth = task.binding['__$pathinparam<2:1>'].toRealPath();
      def gpx = ['python3', '/n/groups/lsp/mcmicro/tools/o2/ome-tiff-gpx.py', pth].execute().text.toDouble();
      def mem = (gpx * 8.4 + 5).GB;
      return mem * task.attempt;
    }
    time   = { 6.h * task.attempt }
    cpus   = 1
  }

}
