profiles {

  // Default profile, best suited for local runs
  standard {
    docker.enabled = true
    params.tool_unmicst = '/app'
    
    process {
      withName:ashlar  {container = 'labsyspharm/ashlar:1.9'}
      withName:unmicst {container = 'labsyspharm/unmicst:latest'}
    }
  }

  // Profile specific to the HMS compute cluster
  O2 {
    process {
      executor = 'slurm'
      queue = 'short'
      
      withName:ashlar  {clusterOptions = '-t 1:00:00 --mem=16000'}
      withName:dearray {clusterOptions = '-t 1:00:00 --mem=16000'}
      withName:unmicst {
        conda = "$baseDir/conda/unmicst.yml"
        clusterOptions = '-t 1:00:00 --mem=4000'
      }
    }	    
  }
}
