profiles {

  // Default profile, best suited for local runs
  standard {
    docker.enabled = true
    
    process {
      withName:illumination   {container = 'labsyspharm/basic-illumination:1.0.0'}
      withName:ashlar         {container = 'labsyspharm/ashlar:1.11.1'}
      withName:unmicst        {container = 'labsyspharm/unmicst:1.0.0'}
      withName:s3seg          {container = 'labsyspharm/s3segmenter:0.1.0'}
      withName:quantification {container = 'labsyspharm/quantification:1.0.0'}
    }
  }

  // Developer profile for testing the latest versions of all modules
  dev {
    docker.enabled = true
    
    process {
      withName:illumination   {container = 'labsyspharm/basic-illumination:latest'}
      withName:ashlar         {container = 'labsyspharm/ashlar:latest'}
      withName:unmicst        {container = 'labsyspharm/unmicst:latest'}
      withName:s3seg          {container = 'labsyspharm/s3segmenter:latest'}
      withName:quantification {container = 'labsyspharm/quantification:latest'}
    }
  }
  
  // Profile specific to the HMS compute cluster
  O2 {
    params.tools        = '/n/groups/lsp/mcmicro/2020-03-26'

    params.tool_imagej  = "${params.tools}/Fiji.app"
    params.tool_illum   = "${params.tools}/basic-illumination"
    params.tool_unmicst = "${params.tools}/UnMicst"
    params.tool_segment = "${params.tools}/S3segmenter"
    params.tool_quant   = "${params.tools}/quantification"

    process {
      executor = 'slurm'
      queue = 'short'

      withName:illumination {clusterOptions = '-t 1:00:00 --mem=16000'}
      withName:dearray      {clusterOptions = '-t 1:00:00 --mem=16000'}
      withName:ashlar {
        conda = "$baseDir/conda/ashlar.yml"
        clusterOptions = '-t 1:00:00 --mem=16000'
      }
      withName:unmicst {
        conda = "$baseDir/conda/unmicst.yml"
        clusterOptions = '-t 1:00:00 --mem=4000'
      }
      withName:s3seg {
        conda = "$baseDir/conda/s3seg.yml"
        clusterOptions = '-t 1:00:00 --mem=4000'
      }
      withName:quantification {
        conda = "$baseDir/conda/quantification.yml"
        clusterOptions = '-t 1:00:00 --mem=16000'
      }
    }	    
  }
}
