// Module definitions
includeConfig 'config/modules.config'

// Platform-specific profiles
profiles {

  // Default profile, best suited for local runs
  standard {
    includeConfig 'config/docker.config'
  }

  // Profile for using singularity to run module containers
  singularity {
    includeConfig 'config/singularity.config'
  }

  // Profile specific to the HMS compute cluster
  O2 {
    includeConfig 'config/O2base.config'
    includeConfig 'config/large.config'
  }

  // Same as O2 (here for backwards compatibility)
  O2large {
    includeConfig 'config/O2base.config'
    includeConfig 'config/large.config'
  }
  
  // Same as O2 but with higher resource requirements
  O2massive {
    includeConfig 'config/O2base.config'
    includeConfig 'config/massive.config'
  }

  // Same as O2massive but with GPU support for selected processes
  O2gpu {
    includeConfig 'config/O2base.config'
    includeConfig 'config/massive.config'

    singularity.runOptions = '-C --nv'
    process{
      withName:worker {
        queue = 'gpu'
        clusterOptions = '--gres=gpu:1'
      }
    }
  }

  // Processing TMAs on O2
  O2TMA {
    includeConfig 'config/O2base.config'
    includeConfig 'config/tma.config'
  }

  // Same as O2, but for external users not in the `lsp` group
  O2ext {
    includeConfig 'config/O2base.config'
    includeConfig 'config/large.config'
    params.O2ext = true
    singularity.cacheDir = '$HOME/.mcmicro'
  }

  // Amazon Web Services
  AWS {
    includeConfig 'config/aws.config'
    includeConfig 'config/large.config'
  }

  AWSmassive {
    includeConfig 'config/aws.config'
    includeConfig 'config/massive.config'
  }  

  AWSTMA {
    includeConfig 'config/aws.config'
    includeConfig 'config/tma.config'
  }    

  AWSgpu {
    includeConfig 'config/aws.config'
    includeConfig 'config/massive.config'
    
    process {
      withName:pmproc {
        queue = 'mcmicro-queue-gpu'
      }
    }
  }
  
}
