image = 'labsyspharm/roadie:2022-03-14'

profiles {

  standard {
    docker.enabled = true
    docker.runOptions = '--cpus 0.000'
    params.roadie = image
  }

  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    singularity.runOptions = '-C'
    params.roadie = 'docker://' + image
  }

}