workflow:
  start-at: registration
  stop-at: quantification
  qc-files: inherit
  tma: false
  viz: false
  background: false
  background-method: backsub
  staging: false
  staging-method: phenoimager2mc
  multi-formats: '{.xdce,.nd,.scan,.htd}'
  single-formats: '{.ome.tiff,.ome.tif,.rcpnl,.btf,.nd2,.tif,.czi}'
  segmentation: unmicst
  segmentation-recyze: false
  downstream: scimap
options:
  ashlar: -m 30
  cypository: --model zeisscyto
  ilastik: --num_channels 1
  mcquant: --masks cell*.tif *_cp_masks*.tif
  naivestates: -p png
  imagej-rolling-ball: 100 -n=4 -j="-Xmx4g"
modules:
  illumination:
    name: basic
    container: labsyspharm/basic-illumination
    version: 1.1.1
  registration:
    name: ashlar
    container: labsyspharm/ashlar
    version: 1.18.0
  dearray:
    name: coreograph
    container: labsyspharm/unetcoreograph
    version: 2.2.9
    cmd: python /app/UNetCoreograph.py --outputPath .
    input: --imagePath
  staging:
    -
      name: phenoimager2mc
      container: ghcr.io/schapirolabor/phenoimager2mc
      version: main
      cmd: |-
        python /phenoimager2mc/scripts/phenoimager2mc.py \
          --indir ${indir} \
          -o ${cycle}.ome.tif -m 6
  background:
    -
      name: backsub
      container: ghcr.io/schapirolabor/background_subtraction
      version: v0.4.1
      cmd: |-
        python3 /background_subtraction/background_sub.py \
          -r ${image} -m ${marker} \
          -o ${image_id}_backsub.ome.tif -mo markers_bs.csv
    -
      name: imagej-rolling-ball
      container: yuanchen12/imagej-rolling-ball
      version: v2023.9.1
      cmd: |-
        cp ${marker} markers_bs.csv && \
          rolling-ball --imagej_version="/home/mambauser/Fiji.app" ${image}
  segmentation:
    -
      name: unmicst
      container: labsyspharm/unmicst
      version: 2.7.7
      cmd: python /app/unmicstWrapper.py --stackOutput --outputPath .
      input: ''
      channel: --channel
      idxbase: 1
      watershed: 'yes'
    -
      name: cypository
      container: labsyspharm/cypository
      version: 1.1.5
      cmd: python /app/deployMaskRCNN.py --stackOutput --outputPath .
      input: ''
      channel: --channel
      idxbase: 1
      watershed: bypass
    -
      name: ilastik
      container: labsyspharm/mcmicro-ilastik
      version: 1.6.1
      cmd: python /app/mc-ilastik.py --output .
      input: --input
      model: --model
      channel: --channelIDs
      idxbase: 1
      watershed: 'yes'
    -
      name: mesmer
      container: vanvalenlab/deepcell-applications
      version: 0.4.0
      cmd: python /usr/src/app/run_app.py mesmer --squeeze --output-directory . --output-name cell.tif
      input: --nuclear-image
      membrane-input: --membrane-image
      channel: --nuclear-channel
      idxbase: 0
      watershed: 'no'
    -
      name: cellpose
      container: biocontainers/cellpose
      version: 2.1.1_cv2
      cmd: cellpose --channel_axis 0 --save_tif --savedir . --verbose
      input: --image_path
      model: --pretrained_model
      idxbase: 0
      watershed: 'no'
  watershed:
    name: s3seg
    container: labsyspharm/s3segmenter
    version: 1.5.6
    channel: --probMapChan
    idxbase: 1
  quantification:
    name: mcquant
    container: labsyspharm/quantification
    version: 1.6.0
  downstream:
    -
      name: naivestates
      container: labsyspharm/naivestates
      version: 1.7.0
      cmd: /app/main.R -o .
      input: -i
      model: --mct
    -
      name: scimap
      container: labsyspharm/scimap
      version: 0.17.7
      cmd: scimap-mcmicro -o .
      input: ''
    -
      name: fastpg
      container: labsyspharm/mc-fastpg
      version: 1.2.3
      cmd: python3 /app/cluster.py -c
      input: -i
    -
      name: scanpy
      container: labsyspharm/mc-scanpy
      version: 1.0.1
      cmd: python3 /app/cluster.py -c
      input: -i
    -
      name: flowsom
      container: labsyspharm/mc-flowsom
      version: 1.0.2
      cmd: python3 /app/cluster.py -c
      input: -i
  viz:
    name: autominerva
    container: ghcr.io/labsyspharm/mcmicro
    version: auto-minerva-2023-08-29
