docker.enabled = true
docker.runOptions = '--cpus 0.000'

params.contPfx = ''

process {
  withName:illumination   {container = "labsyspharm/basic-illumination:${params.illumVersion}"}
  withName:ashlar         {container = "labsyspharm/ashlar:${params.ashlarVersion}"}
  withName:coreograph     {container = "labsyspharm/unetcoreograph:${params.coreoVersion}"}
  withName:s3seg          {container = "labsyspharm/s3segmenter:${params.s3segVersion}"}
  withName:mcquant        {container = "labsyspharm/quantification:${params.quantVersion}"}
  withName:naivestates    {container = "labsyspharm/naivestates:${params.nstatesVersion}"}
}
