docker.enabled = true

process {
  withName:illumination   {container = "labsyspharm/basic-illumination:${params.illumVersion}"}
  withName:ashlar         {container = "labsyspharm/ashlar:${params.ashlarVersion}"}
  withName:dearray        {container = "labsyspharm/unetcoreograph:${params.coreoVersion}"}
  withName:'unmicst.*'    {container = "labsyspharm/unmicst:${params.unmicstVersion}"}
  withName:ilastik        {container = "labsyspharm/mcmicro-ilastik:${params.mcilastikVersion}"}
  withName:s3seg          {container = "labsyspharm/s3segmenter:${params.s3segVersion}"}
  withName:quantification {container = "labsyspharm/quantification:${params.quantVersion}"}
  withName:naivestates    {container = "labsyspharm/naivestates:${params.nstatesVersion}"}
}
