process {
  withName:illumination   {
    time   = '1h'
    memory = '16G'
  }
  withName:dearray        {
    time   = '1h'
    memory = '16G'
  }
  withName:ashlar         {
    time   = '1h'
    memory = '16G'
  }
  withName:unmicst        {
    time   = '1h'
    memory = '4G'
  }
  withName:ilastik        {
    cpus   = 4
    time   = '1h'
    memory = '32G'
  }
  withName:s3seg          {
    time   = '1h'
    memory = '4G'
  }
  withName:quantification {
    time   = '1h'
    memory = '16G'
  }
  withName:naivestates    {
    time   = '1h'
    memory = '16G'
  }
}
