process {
  withName:illumination   {
    time   = '6h'
    memory = '64G'
  }
  withName:coreograph     {
    time   = '12h'
    memory = '128G'
  }
  withName:ashlar         {
    time   = '6h'
    memory = '64G'
  }
  withName:pmproc         {
    cpus   = 4
    time   = '12h'
    memory = '230G'
  }
  withName:s3seg          {
    cpus   = 6
    time   = '12h'
    memory = '230G'
  }
  withName:mcquant        {
    time   = '12h'
    memory = '128G'
  }
  withName:csproc         {
    time   = '12h'
    memory = '128G'
  }
}
