process {
  withName:illumination   {
    time   = '6h'
    memory = '64G'
  }
  withName:dearray        {
    time   = '12h'
    memory = '128G'
  }
  withName:ashlar         {
    time   = '6h'
    memory = '64G'
  }
  withName:'unmicst.*'    {
    time   = '12h'
    memory = '230G'
  }
  withName:ilastik        {
    cpus   = 4
    time   = '12h'
    memory = '230G'
  }
  withName:s3seg          {
    cpus   = 6
    time   = '12h'
    memory = '230G'
  }
  withName:quantification {
    time   = '12h'
    memory = '128G'
  }
  withName:naivestates    {
    time   = '12h'
    memory = '128G'
  }
}
