// Versions of individual modules
params.illumVersion     = '1.0.1'
params.ashlarVersion    = '1.14.0'
params.coreoVersion     = '2.2.2'
params.s3segVersion     = '1.2.5'
params.quantVersion     = '1.3.2'

// Default parameters for individual modules
params.ashlarOpts   = '-m 30'
params.coreOpts     = ''
params.s3segOpts    = ''
params.quantOpts    = '--masks cellMask.tif'

// Modules for computing probability maps
params.modulesPM = [
  [
    name      : 'unmicst',
    container : 'labsyspharm/unmicst',
    version   : '2.6.14',
    cmd       : 'python /app/unmicstWrapper.py --stackOutput --outputPath .',
    input     : ''
  ],
  [
    name      : 'cypository',
    container : 'labsyspharm/cypository',
    version   : '1.0.13',
    cmd       : 'python /app/deployMaskRCNN.py --stackOutput --outputPath .',
    input     : ''
  ],
  [
    name      : 'ilastik',
    container : 'labsyspharm/mcmicro-ilastik',
    version   : '1.4.3',
    cmd       : 'python /app/mc-ilastik.py --output .',
    input     : '--input',
    model     : '--model'
  ]
]

// Default parameter values for probability map modules
params.unmicstOpts    = ''
params.cypositoryOpts = '--model zeisscyto'
params.ilastikOpts    = '--num_channels 1'

// Modules for cell state computations
params.modulesCS = [
  [
    name      : 'naivestates',
    container : 'labsyspharm/naivestates',
    version   : '1.7.0',
    cmd       : '/app/main.R -o .',
    input     : '-i',
    model     : '--mct'
  ],
  [
    name      : 'scimap',
    container : 'labsyspharm/scimap',
    version   : '0.17.6',
    cmd       : 'scimap-mcmicro -o .',
    input     : ''
  ],
  [
    name      : 'fastpg',
    container : 'labsyspharm/mc-fastpg',
    version   : '1.1.0',
    cmd       : 'python3 /app/cluster.py -c',
    input     : '-i'
  ],
  [
    name      : 'scanpy',
    container : 'labsyspharm/mc-scanpy',
    version   : '1.0.1',
    cmd       : 'python3 /app/cluster.py -c',
    input     : '-i'
  ],
  [
    name      : 'flowsom',
    container : 'labsyspharm/mc-flowsom',
    version   : '1.0.1',
    cmd       : 'python3 /app/cluster.py -c',
    input     : '-i'
  ]
]

// Default parameter values for cell state modules
params.naivestatesOpts = '-p png'
params.scimapOpts = ''
params.fastpgOpts = ''
params.scanpyOpts = ''
params.flowsomOpts = ''
