// Module for correcting illumination
params.moduleIllum = [
  name      : 'basic',
  container : 'labsyspharm/basic-illumination',
  version   : '1.0.1'
]

// Module for registration
params.moduleRegistr = [
  name      : 'ashlar',
  container : 'labsyspharm/ashlar',
  version   : '1.14.0'
]

// Module for TMA dearraying
params.moduleDearray = [
  name      : 'coreograph',
  container : 'labsyspharm/unetcoreograph',
  version   : '2.2.2'
]

// Modules for computing probability maps
params.modulesPM = [
  [
    name      : 'unmicst',
    container : 'labsyspharm/unmicst',
    version   : '2.7.0',
    cmd       : 'python /app/unmicstWrapper.py --stackOutput --outputPath .',
    input     : ''
  ],
  [
    name      : 'cypository',
    container : 'labsyspharm/cypository',
    version   : '1.1.2',
    cmd       : 'python /app/deployMaskRCNN.py --stackOutput --outputPath .',
    input     : ''
  ],
  [
    name      : 'ilastik',
    container : 'labsyspharm/mcmicro-ilastik',
    version   : '1.4.3',
    cmd       : 'python /app/mc-ilastik.py --output .',
    input     : '--input',
    model     : '--model'
  ]
]

// Module for watershed segmentation of probability maps
params.moduleSeg = [
  name      : 's3seg',
  container : 'labsyspharm/s3segmenter',
  version   : '1.3.9'
]

// Module for quantification
params.moduleQuant = [
  name      : 'mcquant',
  container : 'labsyspharm/quantification',
  version   : '1.5.0'
]

// Modules for cell state computations
params.modulesCS = [
  [
    name      : 'naivestates',
    container : 'labsyspharm/naivestates',
    version   : '1.7.0',
    cmd       : '/app/main.R -o .',
    input     : '-i',
    model     : '--mct'
  ],
  [
    name      : 'scimap',
    container : 'labsyspharm/scimap',
    version   : '0.17.7',
    cmd       : 'scimap-mcmicro -o .',
    input     : ''
  ],
  [
    name      : 'fastpg',
    container : 'labsyspharm/mc-fastpg',
    version   : '1.1.0',
    cmd       : 'python3 /app/cluster.py -c',
    input     : '-i'
  ],
  [
    name      : 'scanpy',
    container : 'labsyspharm/mc-scanpy',
    version   : '1.0.1',
    cmd       : 'python3 /app/cluster.py -c',
    input     : '-i'
  ],
  [
    name      : 'flowsom',
    container : 'labsyspharm/mc-flowsom',
    version   : '1.0.2',
    cmd       : 'python3 /app/cluster.py -c',
    input     : '-i'
  ]
]



// Default parameters for individual modules
params.ashlarOpts   = '-m 30'
params.coreOpts     = ''
params.s3segOpts    = ''
params.quantOpts    = '--masks cell.ome.tif'

// Default parameter values for probability map modules
params.unmicstOpts    = ''
params.cypositoryOpts = '--model zeisscyto'
params.ilastikOpts    = '--num_channels 1'

// Default parameter values for cell state modules
params.naivestatesOpts = '-p png'
params.scimapOpts = ''
params.fastpgOpts = ''
params.scanpyOpts = ''
params.flowsomOpts = ''
