params.tools        = "/n/groups/lsp/mcmicro/${params.mcmicroVersion}"
params.tool_core    = "${params.tools}/Coreograph"

params.tool_imagej  = "${params.tools}/Fiji.app"
params.tool_illum   = "${params.tools}/basic-illumination"
params.tool_unmicst = "${params.tools}/UnMicst"
params.tool_segment = "${params.tools}/S3segmenter"
params.tool_quant   = "${params.tools}/quantification"

process {
  executor = 'slurm'

  withName:ashlar         {conda = "$baseDir/conda/ashlar.yml"}
  withName:unmicst        {conda = "$baseDir/conda/unmicst.yml"}
  withName:s3seg          {conda = "$baseDir/conda/s3seg.yml"}
  withName:quantification {conda = "$baseDir/conda/quantification.yml"}
}
