params.O2base       = "/n/groups/lsp/mcmicro"
params.O2conda      = "${params.O2base}/conda"
params.tools        = "${params.O2base}/${params.mcmicroVersion}"
params.tool_core    = "${params.tools}/Coreograph"

params.tool_imagej    = "${params.tools}/Fiji.app"
params.tool_illum     = "${params.tools}/basic-illumination"
params.tool_unmicst   = "${params.tools}/UnMicst"
params.tool_ilastik   = "${params.tools}/ilastik-release"
params.tool_mcilastik = "${params.tools}/mcmicro-ilastik"
params.tool_segment   = "${params.tools}/S3segmenter"
params.tool_quant     = "${params.tools}/quantification"
params.tool_nstates   = "${params.tools}/naivestates"

process {
  executor = 'slurm'

  withName:ashlar         {conda = "${params.O2conda}/ashlar"}
  withName:unmicst        {conda = "${params.O2conda}/unmicst-2020-06-06"}
  withName:ilastik        {conda = "${params.O2conda}/mc_ilastik"}
  withName:s3seg          {conda = "${params.O2conda}/s3seg"}
  withName:quantification {conda = "${params.O2conda}/quantification"}
  withName:naivestates    {conda = "${params.O2conda}/naivestates"}
}
