params.tools        = "/n/groups/lsp/mcmicro/${params.mcmicroVersion}"
params.tool_core    = "${params.tools}/Coreograph"

params.tool_imagej  = "${params.tools}/Fiji.app"
params.tool_illum   = "${params.tools}/basic-illumination"
params.tool_unmicst = "${params.tools}/UnMicst"
params.tool_segment = "${params.tools}/S3segmenter"
params.tool_quant   = "${params.tools}/quantification"

process {
  executor = 'slurm'

  withName:ashlar         {conda = "${params.tools}/conda/ashlar"}
  withName:unmicst        {conda = "${params.tools}/conda/unmicst"}
  withName:s3seg          {conda = "${params.tools}/conda/s3seg"}
  withName:quantification {conda = "${params.tools}/conda/quantification"}
}
