singularity.enabled    = true
singularity.autoMounts = true
singularity.runOptions = '-C'

params.contPfx = 'docker://'

process {
  withName:s3seg          {container = "docker://labsyspharm/s3segmenter:${params.s3segVersion}"}
  withName:mcquant        {container = "docker://labsyspharm/quantification:${params.quantVersion}"}
}
