singularity.enabled    = true
singularity.autoMounts = true
singularity.runOptions = '-C'
singularity.cacheDir   = '/n/groups/lsp/mcmicro/singularity'

process {
  withName:illumination   {container = "docker://labsyspharm/basic-illumination:${params.illumVersion}"}
  withName:ashlar         {container = "docker://labsyspharm/ashlar:${params.ashlarVersion}"}
  withName:dearray        {container = "docker://labsyspharm/unetcoreograph:${params.coreoVersion}"}
  withName:'unmicst.*'    {container = "docker://labsyspharm/unmicst:${params.unmicstVersion}"}
  withName:ilastik        {container = "docker://labsyspharm/mcmicro-ilastik:${params.mcilastikVersion}"}
  withName:s3seg          {container = "docker://labsyspharm/s3segmenter:${params.s3segVersion}"}
  withName:quantification {container = "docker://labsyspharm/quantification:${params.quantVersion}"}
  withName:naivestates    {container = "docker://labsyspharm/naivestates:${params.nstatesVersion}"}
}
