singularity.enabled    = true
singularity.autoMounts = true
singularity.runOptions = '-C'

params.contPfx = 'docker://'

process {
  withName:illumination   {container = "docker://labsyspharm/basic-illumination:${params.illumVersion}"}
  withName:ashlar         {container = "docker://labsyspharm/ashlar:${params.ashlarVersion}"}
  withName:coreograph     {container = "docker://labsyspharm/unetcoreograph:${params.coreoVersion}"}
  withName:s3seg          {container = "docker://labsyspharm/s3segmenter:${params.s3segVersion}"}
  withName:mcquant        {container = "docker://labsyspharm/quantification:${params.quantVersion}"}
}
