docker.enabled = true

// Location of tools in local directory
params.tools           = "$HOME/mcmicro"
params.tool_corematlab = "${params.tools}/Coreograph"
    
// Location of individual tools inside containers
params.tool_imagej    = '/opt/fiji/Fiji.app'
params.tool_illum     = '/opt/fiji'
params.tool_coreo     = '/app'
params.tool_unmicst   = '/app'
params.tool_ilastik   = '/ilastik-release'
params.tool_mcilastik = '/app'
params.tool_segment   = '/app'
params.tool_quant     = '/app'
params.tool_nstates   = '/app'

process {
  withName:illumination   {container = "labsyspharm/basic-illumination:${params.illumVersion}"}
  withName:ashlar         {container = "labsyspharm/ashlar:${params.ashlarVersion}"}
  withName:unmicst        {container = "labsyspharm/unmicst:${params.unmicstVersion}"}
  withName:ilastik        {container = "labsyspharm/mcmicro-ilastik:${params.mcilastikVersion}"}
  withName:s3seg          {container = "labsyspharm/s3segmenter:${params.s3segVersion}"}
  withName:quantification {container = "labsyspharm/quantification:${params.quantVersion}"}
  withName:naivestates    {container = "labsyspharm/naivestates:${params.nstatesVersion}"}
}
