// Location of individual tools inside containers
params.tool_imagej    = '/opt/fiji/Fiji.app'
params.tool_illum     = '/opt/fiji'
params.tool_coreo     = '/app'
params.tool_unmicst   = '/app'
params.tool_ilastik   = '/ilastik-release'
params.tool_mcilastik = '/app'
params.tool_segment   = '/app'
params.tool_quant     = '/app'
params.tool_nstates   = '/app'
