name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  # Downloads exemplar data from S3 as needed
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Nextflow
        run: curl -fsSL get.nextflow.io | bash

      # Exemplars will be cached
      - name: Exemplar-001 cache
        uses: actions/cache@v2
        with:
          path: ~/data/exemplar-001
          key: mcmicro-exemplar-001
      - name: Exemplar-002 cache
        uses: actions/cache@v2
        with:
          path: ~/data/exemplar-002
          key: mcmicro-exemplar-002-2cycle

      # Download data only if no cache is available
      - name: Exemplar-001 download
        run: |
          if [ -d ~/data/exemplar-001 ]; then
            echo "Using cached exemplar-001 download"
            ls ~/data/exemplar-001/*
          else
            ./nextflow exemplar.nf --name exemplar-001 --path ~/data
          fi
      - name: Exemplar-002 download
        run: |
          if [ -d ~/data/exemplar-002 ]; then
            echo "Using exemplar-002 cache"
            ls ~/data/exemplar-002/*
          else
            ./nextflow exemplar.nf --name exemplar-002 --path ~/data --nc 2
          fi

  # One-shot test of exemplar-001
  test-ex001:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Nextflow
        run: curl -fsSL get.nextflow.io | bash
      - name: Restore exemplar-001 cache
        uses: actions/cache@v2
        with:
          path: ~/data/exemplar-001
          key: mcmicro-exemplar-001
      - name: Test exemplar-001
        run: |
          ./nextflow main.nf --in ~/data/exemplar-001 --probability-maps unmicst,ilastik --s3seg-opts '--probMapChan 0'
          ls ~/data/exemplar-001/*


  # One-shot test of exemplar-001 using Cypository
  test-ex001-cypo:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Nextflow
        run: curl -fsSL get.nextflow.io | bash
      - name: Restore exemplar-001 cache
        uses: actions/cache@v2
        with:
          path: ~/data/exemplar-001
          key: mcmicro-exemplar-001
      - name: Test exemplar-001
        run: |
          ./nextflow main.nf --in ~/data/exemplar-001 --probability-maps cypository --s3seg-opts '--probMapChan 0 --nucleiRegion bypass --logSigma 45 300'
          ls ~/data/exemplar-001/*


  # Step-by-step test of exemplar-001
  test-ex001-by-step:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Nextflow
        run: curl -fsSL get.nextflow.io | bash
      - name: Restore exemplar-001 cache
        uses: actions/cache@v2
        with:
          path: ~/data/exemplar-001
          key: mcmicro-exemplar-001
      - name: Test exemplar-001 step-by-step
        run: |
          ./nextflow main.nf --in ~/data/exemplar-001 --start-at registration --stop-at registration
          ./nextflow main.nf --in ~/data/exemplar-001 --start-at probability-maps --stop-at probability-maps --probability-maps ilastik
          ./nextflow main.nf --in ~/data/exemplar-001 --start-at segmentation --stop-at segmentation --probability-maps ilastik --s3seg-opts '--probMapChan 0'
          docker rmi -f $(docker images -a -q)
          ./nextflow main.nf --in ~/data/exemplar-001 --start-at probability-maps --stop-at probability-maps --probability-maps unmicst
          ./nextflow main.nf --in ~/data/exemplar-001 --start-at segmentation --stop-at segmentation --probability-maps unmicst
          docker rmi -f $(docker images -a -q)
          ./nextflow main.nf --in ~/data/exemplar-001 --start-at probability-maps --stop-at probability-maps --probability-maps cypository
          ./nextflow main.nf --in ~/data/exemplar-001 --start-at segmentation --stop-at segmentation --probability-maps cypository --s3seg-opts '--probMapChan 0 --nucleiRegion bypass --logSigma 45 300'
          docker rmi -f $(docker images -a -q)
          ./nextflow main.nf --in ~/data/exemplar-001 --start-at quantification --stop-at quantification
          ./nextflow main.nf --in ~/data/exemplar-001 --start-at cell-states --stop-at cell-states
          ls ~/data/exemplar-001/*

  # One-shot test of exemplar-002
  test-ex002:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Nextflow
        run: curl -fsSL get.nextflow.io | bash
      - name: Restore exemplar-002 cache
        uses: actions/cache@v2
        with:
          path: ~/data/exemplar-002
          key: mcmicro-exemplar-002-2cycle
      - name: Test exemplar-002
        run: |
          ./nextflow main.nf --in ~/data/exemplar-002 --tma --start-at registration --stop-at segmentation
          docker rmi -f $(docker images -a -q)
          ./nextflow main.nf --in ~/data/exemplar-002 --tma --start-at quantification
          ls ~/data/exemplar-002/*

  # One-shot test of exemplar-002 with Cypository
  test-ex002-cypo:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Nextflow
        run: curl -fsSL get.nextflow.io | bash
      - name: Restore exemplar-002 cache
        uses: actions/cache@v2
        with:
          path: ~/data/exemplar-002
          key: mcmicro-exemplar-002-2cycle
      - name: Test exemplar-002
        run: |
          ./nextflow main.nf --in ~/data/exemplar-002 --tma --start-at registration --stop-at segmentation --probability-maps cypository --cypositoryOpts '--scalingFactor 0.25 --threshold 0.05' --s3seg-opts '--probMapChan 0 --nucleiRegion bypass --logSigma 45 300'
          docker rmi -f $(docker images -a -q)
          ./nextflow main.nf --in ~/data/exemplar-002 --tma --start-at quantification
          ls ~/data/exemplar-002/*
